# {{ ansible_managed }}
version: '3.2'
services:
  # MongoDB: https://hub.docker.com/_/mongo/
  mongo:
    image: "{{ docker_graylog_mongo_image }}:{{ docker_graylog_mongo_tag }}"
    networks:
      - {{ docker_graylog_network }}
  # Elasticsearch: https://www.elastic.co/guide/en/elasticsearch/reference/6.x/docker.html
  elasticsearch:
    image: "{{ docker_graylog_es_image }}:{{ docker_graylog_es_tag}}"
    networks:
      - {{ docker_graylog_network }}
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      # Disable X-Pack security: https://www.elastic.co/guide/en/elasticsearch/reference/6.x/security-settings.html#general-security-settings
      - xpack.security.enabled=false
      - xpack.watcher.enabled=false
      - xpack.monitoring.enabled=false
      - xpack.security.audit.enabled=false
      - xpack.ml.enabled=false
      - xpack.graph.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    # mem_limit: 1g
  # Graylog: https://hub.docker.com/r/graylog/graylog/
  graylog:
    image: "{{ docker_graylog_image }}:{{ docker_graylog_tag }}"
    networks:
      - {{ docker_graylog_network }}
    volumes:
      - "{{ docker_graylog_directory }}/gelf-udp-input.json:/usr/share/graylog/data/contentpacks/gelf-udp-input.json"
      - "{{ docker_graylog_directory }}/graylog.conf:/usr/share/graylog/data/config/graylog.conf"
    depends_on:
      - mongo
      - elasticsearch
{% if docker_graylog_labels %}
    labels: {{ docker_graylog_labels | to_json }}
{% endif %}
{% if docker_graylog_enable_web_host_port or docker_graylog_enable_gelf_udp_host_port %}
    ports:
{% if docker_graylog_enable_web_host_port %}
      # Graylog web interface and REST API
      - 9000:9000
{% endif %}
      # Syslog TCP
      # - 514:514
      # Syslog UDP
      # - 514:514/udp
      # GELF TCP
      # - 12201:12201
{% if docker_graylog_enable_gelf_udp_host_port and (not docker_graylog_use_swarm) %}
      # GELF UDP
      - 12201:12201/udp
{% elif docker_graylog_enable_gelf_udp_host_port and docker_graylog_use_swarm %}
      - target: 12201
        published: 12201
        protocol: udp
        mode: host
{% endif %}
{% endif %}

networks:
  {{ docker_graylog_network }}:
    external: true
